variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfstate.lock.*
*.tfvars
.terraform/
*.retry
jdauphant.nginx
vault.key
# vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
